.optionSize{
    width: 100% !important;
}

.datePicker {
    padding-left: 10px;
}

.col-md-12{
    padding-bottom: 5px;
}

.form-control{
    padding-left: 5px;
}

.workers{
    padding-right: 5px;
}