/* .PetInfoCard {
  margin: 25px;
  box-shadow: 5px 5px 12px rgba(107, 107, 107, 0.2);
  padding: 20px;
}
.PetInfoCard strong {
  font-weight: bolder;
}
.PetInfoCard .petImg {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100px;
  overflow: hidden;
}
.PetInfoCard .petImg img {
  height: 150px;
  max-width: 200%;
  width: auto;
} */
.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card p { 
  flex: 1; 
  line-height: 1.4;
}



/* typography */
/* h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
} */