.welcome {
    font-size: 75px;
    margin-top: 310px;
}
.welcomeText {
    font-size: 15px;
}
.welcomeImg {
    opacity: 0.4;
    border-radius: 20px;
}
.welcomeBox {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    box-shadow: 5px 5px;
    border-radius: 20px;
}
