
#sidebar {
  max-width: 20%;
  height: 100vh;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link {
  white-space: nowrap;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
  font-size: 1.2rem !important;
}

.mr-2{
  margin-right: 6px;
}

.sidebar-item-text {
  width: 100%;
  font-size: 1rem !important;
}
@media (max-width: 900px) {
  .nav-link{
    width: 35px;
  }
  #sidebar{
    width: 80px;
  }
}