.Header img {
  width: 30%;
  padding-top: 3%;
  padding-left: 6%;
}

.Header h1 {
  color: black;
}

.Header .navbar {
  justify-content: flex-end;
}
.Header .navbar span {
  margin-right: 15px;
  padding-right: 30px;
  border-right: solid 1px #333;
}
.Header .navbar .btn {
  color: black;
  font-size: 20px;
}
.Header .navbar .btn:hover {
  color: #f77000;
  text-decoration: none;
}

.name{
  font-size: 20px;
  padding-top: 10%;
  padding-left: 3%;
}